.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	color: #ffffff;
}

.navbar-nav > li > a {
	color: #ffffff;
}

.hidden {
	display: none!important;
}

#header-nav {
	background-color: #333;
	border-radius: 0;
	border: 0;
}

#home { 
    background: url(../images/background.jpg) no-repeat fixed center;
    height: auto;
    width: 100%; 
    margin: 0 0; 
    position: relative; 
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    padding: 100px 0px;
    background-size: cover;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.profile {
	color: #ffffff;
}

.profile a:link {
	color: #ffffff;
}

.profile a:visited  {
  color: #ffffff;
}

.profile-img > img {
	border-radius: 10%;
}

.profile-info{
  height: 255px;
  vertical-align: center;
  position: relative;
  font-size: 20px;
  background-color: rgba(30%,30%,30%,0.5);
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  color: #ffffff;
  /*
  border-style: solid;
  border-color: yellow;
  */
}

.english-name {
	font-size: 40px;
	font-weight: bold;
	font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.about-section {
    height: auto;
    font-size: 18px;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.education-section {
    height: auto;
    font-size: 18px;
    background: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.edu {
  padding-bottom: 10px;
}

.edu-img {
  background-color: #000000;
}

.date {
  color: #777777;
  font-size: 16px !important;
}

.publication-section {
    height: auto;
    font-size: 16px;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.paper {
	font-size: 18px;
	font-weight: bold;
}

.author {
	font-size: 16px !important;
	margin: 5px auto 0px;
  color: #337ab7;
}

.conf {
	font-size: 16px !important;
	font-style: italic !important;
	margin: 5px auto 0px;
}

.journal {
	font-size: 16px !important;
	font-style: italic !important;
	margin: 5px auto 0px;
}

.contrib-section {
    height: auto;
    font-size: 18px;
    background: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.award-section {
    height: auto;
    font-size: 18px;
    background: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Palatino Linotype, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #333;
}

.footer > .container {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  color: #ffffff;
}